*{
    box-sizing: border-box;
}
body{
    background-color: #376b37;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    margin: 0;
    min-height:100vh;
}
#container{
    box-shadow: 4px 4px 6px 6px #5500ff;
    height: 300px;
    width: 300px;
    overflow: hidden;
}

img{
    transform-origin: center center ;
    object-fit: cover;
    height: 100%;
    width: 100%;
}